# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# Expo
.expo/
.expo-shared/

# IDE / editor
.vscode/
*.code-workspace

# system files
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
